*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Fresca', sans-serif;
    text-shadow: 1px 1px 4px #73442f;
}
nav{
    height: 11vh;
}
a:hover{
    color: #fefff8 !important;
}
.fc{
    display: flex;
    flex-flow: column;
}
.je{
    justify-content: space-evenly;
}
.ja{
    justify-content: space-around;
}
.bic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    margin-top: 11vh;
    margin-bottom: 9vh;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(./img/clover-773946.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.beaches{
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(./img/pexels-christy-rice-15265070.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.borderclass{
    background-color: #fefff8;
    border-color: #4a261b;
    border-style: ridge;
    border-width: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black inset, rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family: 'Fresca', sans-serif;
    text-shadow: 1px 1px 4px #73442f;
    color: #212227;
}
footer{
    color: #fefff8;
    font-family: 'Courgette', cursive;
}
footer{
    height: 10vh;
}
.finance{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./img/pexels-mikhail-nilov-8297031.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.box-width{
    width: 100%;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    background-color: white;
}
.signup{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./img/basset-hound-3858170_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width:100%;
    color: #fefff8;
}